---
layout: page
title: Skills
---

{% for row in site.data.skills %}
<h2 class="uk-text-bold">{{ row[0] }} </h2>
<hr>
<div class="uk-grid-collapse uk-margin-left" uk-grid>
    {% for item in row[1].details %}
    <div class="uk-card uk-grid-collapse" uk-grid>
        <div class="uk-card-media-left">
            {{item.icon}}
        </div>
        <div class="uk-card-body uk-padding-remove">
            <h5 class="uk-margin-remove-bottom">{{ item.skill}}</h5>
            <div class="uk-width-1-1">
                {% for i in (1..item.level) %}
                <i class="fas fa-star"></i>
                {% endfor %}


                {% for i in (item.level..4) %}
                <i class="far fa-star"></i>
                {% endfor %}


            </div>
        </div>
    </div>



    {% endfor %}
</div>
{% endfor %}