---
layout: page
title: Skills
---

{% for row in site.data.skills %}
<h2 class="uk-text-bold">{{ row[0] }} </h2>
<hr>

<div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@xl" uk-grid>

    {% for item in row[1].details %}
    <div>
        <div class="uk-card" uk-grid>
            <div class="uk-card-media-left">
                {{item.icon}}
            </div>
            <div class="uk-padding-remove">
                <div class="uk-card-body uk-padding-remove">
                    <h5 class="uk-margin-remove-bottom">{{ item.skill}}</h5>
                    {% for i in (1..item.level) %}
                    <i class=" fas fa-star"></i>
                    {% endfor %}
                    {% for i in (item.level..4) %}
                    <i class="far fa-star"></i>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endfor %}