---
layout: articles
---

<ul class="uk-subnav uk-padding">
    {% for tag in site.tags %}
    <li>
        <a href="#{{tag[0] }}">
            <span>{{ tag[0] | capitalize}}</span>
            <span>({{ tag[1].size }})</span>
        </a>
    </li>
    {% endfor %}
</ul>

<ul class="uk-list">
    {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <li>
        <a name="{{tag[0]}}"></a>
        <h3 class="uk-heading-divider">{{ tag_name }}</h2>

            <div class="uk-grid ">
                {% for post in site.tags[tag_name] %}
                <div class="uk-width-1-4  uk-width-1-6@xl uk-text-right">
                    {{post.date | date_to_string}}
                </div>
                <div class="uk-width-3-4  uk-width-5-6@xl ">
                    <a class="uk-link-muted" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a><br>
                </div>
                {% endfor %}
            </div>
    </li>
    {% endfor %}
</ul>