.main-content {
  overflow-y: auto;
}

.sticky-position {
  position: sticky;
  top: 0px;
}

.grey {
  background-color: #ccc;
}

.header-background {
  background-image: url('/assets/images/rdaszinskiego-400x1300.png');
}
