/*--------------*\
  Custom styles
\*--------------*/

.epr-header-text {
  background-color: #fbe058;
  background-image: linear-gradient(180deg, #fbe058 0%, #f76b1c 70%);

  h1,
  h2 {
    color: white;
  }
}

//Main header navbar
.epr-main-header-navigation {
  .uk-navbar-nav a {
    color: $epr-main-navbar-font-color;
    font-size: $epr-main-navbar-font-size;
    :hover {
      color: $epr-main-navbar-hover-color;
    }
  }
}

//Iconify
.iconify {
  width: 3em;
  height: 3em;
  padding: 0.5em;
}

.fa-star,
.fa-star-half-alt {
  color: $skills-color;
}

//Skill rating mixin.
@mixin skill-rating($level) {
}

/*--------------*\
  Post styles
\*--------------*/
$code-color: #183c4d;
.code {
  color: $code-color;
}

.post-heading {
  border-bottom: 1px solid #cccccc;
}

/*--------------*\
  Custom hooks
\*--------------*/

//uk-tab hooks
//---------------------------------------------------------
@mixin hook-tab-item() {
  font-family: $base-heading-font-family;
  color: $epr-grey;
}

@mixin hook-tab-item-active() {
  border-bottom: 1px solid $tab-item-active-color;
}

@mixin hook-tab-item-hover() {
  border-bottom: 1px solid $tab-item-active-color;
}

@mixin hook-tab() {
  box-shadow: 0 1em 1em -0.9em $epr-shadow-color;
}

//uk-badge hooks
//---------------------------------------------------------
@mixin hook-badge() {
  border-radius: 8px;
  background: white;
  color: $epr-grey;
  border: 1px solid $epr-grey-lighter;
  padding: 5 5;
}

@mixin hook-badge-hover() {
  background-color: $epr-grey-lighter;
}
